doctype html
html(lang='ko')
    head
        title #{pageTitle} ㅣ Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main
            block contents
            include ./particals/footer.pug